/* Botón Accesimple  */

.accesibilidad{
    position: fixed;
    z-index: 999;
    right: 3vw;
    top: 85vh;
    cursor: pointer;
}

.accesibilidad__img{
    width: 100%;
    max-width: 50px;
    height: auto;
    transition: transform 0.3s ease-out;
}

.accesibilidad__img:hover{
    transform: scale(1.1);
}

/* Panel accesimple  */

.menu-accesibilidad{
    z-index: 99999;
    border-radius: 15px 0 0 15px;
    position: fixed;
    right: 0px;
    top: 10px;
    width: 60vw;
    height: 80vh;
    display: none;
    border: 1px dashed var(--clr-rose);

    background-color: var( --clr-dark);
    color: var(--clr-light);
}


body:not(.light-mode) .menu-accesibilidad {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}



/* Accesimple Header  */

.accesimple-header{
    width: 100%;
    height: 50px;
    background-color: var(--clr-slate200);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--size-3xl);
    border-top-left-radius: 15px;
}

body:not(.light-mode) .accesimple-header{
    background-color: var(--clr-slate800);
}

.menu-accesibilidad__cerrar{
    color: var(--clr-rose);
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 4px;
}

.menu-accesibilidad__titulo{
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    color: var(--clr-slate600);
}

body:not(.light-mode) .menu-accesibilidad__titulo{
    color: var(--clr-slate200);
}


/* Accesimple body  */

.menu-accesibilidad__contenedor{
    width: 100%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.menu-accesibilidad-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.menu-accesibilidad-body__contenedor-botones{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-slate200);
    border-radius: 10px;
}

body:not(.light-mode) .menu-accesibilidad-body__contenedor-botones{
    background-color: var(--clr-slate400);
}

.menu-accesibilidad-body__contenedor-botones:hover{
    border: 1px solid var(--clr-rose);
}    

/* Activación/desactivación  */
.activarColorBorde {
    border: 2px solid var(--clr-rose);
}

.menu-accesibilidad-body__boton{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    font-size: var(--size-xs);
    text-align: center;
}

/* Accesimple footer  */

.menu-accesibilidad-footer{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0%;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--clr-slate200);
}

body:not(.light-mode) .menu-accesibilidad-footer{
    background-color: var(--clr-slate800);
    color: var(--clr-slate200);
}

.menu-accesibilidad-footer-text__container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.menu-accesibilidad-footer__titulo{
    color: var(--clr-slate600);
    font-weight: 600;
    font-size: 18px;
}

body:not(.light-mode) .menu-accesibilidad-footer__titulo{
    color: var(--clr-slate200);
}

.menu-accesibilidad-footer__texto{
    font-size: var(--size-sm);
    color: var(--clr-slate400);
}

/* 
    Casilla de verificación para activar voz 
*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: var(--clr-indigo);
}
  
input:checked + .slider:before {
    transform: translateX(16px);
}
/* 
    Fin casilla de verificación para activar voz 
*/


/* xs */
@media (min-width: 475px){
    .accesibilidad__img{
        width: 100%;
        max-width: 60px;
    }

    .menu-accesibilidad{
        width: 60vw;
    }
}

/* sm */
/* @media (min-width: 640px){
} */

/* md */
@media (min-width: 768px){
    .accesibilidad__img{
        width: 100%;
        max-width: 70px;
    }

    .menu-accesibilidad{
        width: 50vw;
    }
}

/* lg */
@media (min-width: 1024px){
    .accesibilidad__img{
        width: 100%;
        max-width: 80px;
    } 

    .menu-accesibilidad{
        width: 40vw;
    }
}

/* xl */
@media (min-width: 1280px){
    .menu-accesibilidad{
        width: 30vw;
    }
} 

/* 2xl */
/* @media (min-width: 1536px){
} */